:root {
  --primary-color: #3B5FDB; /* Azul */
  --secondary-color: #f5f5f5; /* Blanco medio plomo (gris claro) */
  --text-color: #3B5FDB; /* Azul para el texto, para contraste */
  --bg-color: #f5f5f5; /* Fondo secundario */
  --highlight-color: #ffffff; /* Blanco para resaltar (si necesario) */
}

.navbar {
  background-color: var(--primary-color); /* Azul como color de fondo */
  border-bottom: 1px solid var(--secondary-color); /* Línea divisoria en gris claro */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--highlight-color); /* Blanco para el logo */
}

.search-bar {
  display: flex;
  border: 1px solid var(--highlight-color); /* Bordes blancos para la barra de búsqueda */
  border-radius: 4px;
  overflow: hidden;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  outline: none;
  color: var(--text-color); /* Texto azul */
  background-color: var(--secondary-color); /* Fondo gris claro */
}

.search-bar button {
  background: var(--primary-color); /* Fondo azul */
  border: none;
  padding: 10px;
  cursor: pointer;
  color: var(--highlight-color); /* Ícono blanco */
}

.navbar-links a {
  text-decoration: none;
  color: var(--highlight-color); /* Texto blanco */
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: var(--highlight-color); /* Fondo blanco */
  color: var(--primary-color); /* Texto azul */
}
