:root {
  --primary-color: #3B5FDB; /* Azul */
  --secondary-color: #d2cfcf; /* Blanco medio plomo (gris claro) */
  --text-color: #000000; /* Negro para un mejor contraste */
  --bg-color: #d2cfcf; /* Fondo secundario */
  --highlight-color: #ffffff; /* Blanco para resaltar (si necesario) */
}

.sidebar {
    background-color: var(--primary-color); /* Fondo azul para toda la barra lateral */
    color: var(--text-color); /* Texto negro para mejor contraste */
    padding: 20px;
}

.accordion-section {
    margin-bottom: 10px;
}

.accordion-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color); /* Fondo gris claro para cada sección */
    color: var(--text-color); /* Texto negro para visibilidad */
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px; /* Estilo adicional para redondear las esquinas */
}

.accordion-heading:hover {
    background-color: var(--highlight-color); /* Cambio de color al pasar el mouse */
}

.accordion-content {
    padding: 10px;
    background-color: var(--bg-color); /* Mantener el fondo consistente con el color secundario */
    border-radius: 4px; /* Bordes redondeados para el contenido */
}

.filter-checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.filter-checkbox label {
    color: var(--text-color); /* Asegurarse de que el texto de las etiquetas es negro */
}

.filter-range input[type="range"] {
    width: 100%;
    cursor: pointer; /* Mejora de la interactividad */
}
